<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Monkey D. Luffy</h3>
      <p>
        Monkey D. "Straw Hat" Luffy is a fictional character and the main
        protagonist of the One Piece manga series, created by Eiichiro Oda.
      </p>
      <p>
        Luffy made his debut in One Piece Chapter #1 as a young boy who acquires
        the properties of rubber after accidentally eating the supernatural
        Gum-Gum Fruit
      </p>
      <a href="" class="btn btn-primary btn-sm">
        More...
      </a>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="../img/402897.jpg" />
    </div>
  </div>
</div>
