<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-4">Build with ease</h1>
    </div>
    <hr />
    <div class="col-12">
      <p class="lead">
        In Japan, One Piece has consistently been among the top five animated
        shows in television viewer ratings. On international online video
        platforms, the One Piece anime got 1.9 million demand expressions per
        month in 2016, making it the year's most popular anime and fourteenth
        most popular TV show in the world, according to Business Insider.
      </p>
    </div>
  </div>
</div>
